@mixin button-base($background, $background-focus, $foreground, $foreground-focus, $border) {
  min-height: 40px;
  max-height: 40px;
  background-color: $background;
  border: $border;
  outline: none;
  
  color: $foreground;
  line-height: 1.5;

  &:hover, &:focus {
    background-color: $background-focus;
    color: $foreground-focus;
  }
  
  transition: background-color .2s;
}

// .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button

// button cart
.woocommerce a.button {
  @include button-base($green500, $green600, #fff, #fff, none);
  
  width: 100%;
  text-align: center;

  &.loading {
    opacity: 1;
    &::after {
      content: "\e031";
    }
  }
}


// button cuppon
.woocommerce button.button {
  @include button-base(#fff, #f5f5f5, $blue300, $blue300, 2px solid $blue300);
  line-height: 1.1;
}

// button proceed to checkout
.woocommerce a.button.alt {
  @include button-base($green500, $green600, #fff, #fff, none);

  min-height: 60px;
  max-height: 60px;
  line-height: 1;
  
  border: none;
  color: white;
}

// .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt
// button finish checkout
.woocommerce button.button.alt {
  @include button-base($green500, $green600, #fff, #fff, none);
}

// payment page
.woocommerce-order-pay {

  // button "pagar com mercado pago"
  .woocommerce a.button.alt {
    min-height: 40px;
    max-height: 40px;
    line-height: 1;
    width: auto;
    line-height: 1.4;
  }
  
  // button "cancelar e limpar carrinho" 
  .woocommerce .button.cancel {
    @include button-base(#fff, #f5f5f5, $blue300, $blue300, 2px solid $blue300);
    width: auto;
    line-height: 1.1;
  }
}

// button burger
.button {

  &__burger {
    cursor: pointer;
    div {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
    }

    @include atMedium {
      display: none;
    }
  
    & > div {
      transition: .2s;
    }
    
    &--toggle {
      & .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      & .line2 {
        opacity: 0;
      }
      & .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}
