.button {

  &__burger {
    cursor: pointer;
    div {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
    }

    @media (min-width: 992px) {
      display: none;
    }
  
    & > div {
      transition: .2s;
    }
    
    &--toggle {
      & .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      & .line2 {
        opacity: 0;
      }
      & .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}
