.cart {

  &__icon {
    background-image: url('../icons/cart.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
  }
  &__quantity {
    background-color: #ca2424;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }
}