%input-base {
  display: block;
  box-sizing: border-box;

  padding: .5em;
  border: 1px solid $grey;
  border-radius: 4px;
  outline: none;

  font-size: 1rem;

  &:focus {
    border: 2px solid $purple400 !important;
    box-shadow: 0 0 0 4px $purple100;
  }
}

.input-text, .qty-text, .comment-form input {
  @extend %input-base;
  min-height: 40px;
  max-height: 40px;
}

// textarea
.woocommerce form .form-row textarea {
  @extend %input-base;
  min-height: 120px;
  max-height: 120px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  line-height: 1.5;
}

// select component
.select2-container--default .select2-selection--single {
  @extend %input-base;
  height: 40px;
  .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
  }
}

// form row
.woocommerce form .form-row {
  display: block;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 8px;
    color: $purple400;
    font-weight: 600;
    line-height: .8;
  }

  .required {
    color: $purple200;
  }
}

// set the validated border color to normal
.woocommerce form .form-row.woocommerce-validated input.input-text {
  border: 1px solid $grey;
}