// ul
.woocommerce div.product .woocommerce-tabs ul.tabs {
  display: flex;
  justify-content: center;
  &::before {
    border: none;
  }

  width: 100%;
  padding: 16px 0;

  border-top: 1px solid $yellow500;
}

// li
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: transparent;
  border: none;
  
  &::before, &::after {
    border: none;
    content: none;
  }
  
  a {
    color: gray;
    font-weight: 400;
    white-space: nowrap;
  }
}

// li active
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background-color: transparent;
  color: $purple400;

  a {
    font-weight: 700;
  }
}
