div.dgwt-wcas-search-wrapp {
  .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    border-radius: 20px;
    border: none;
    padding: 10px 50px 10px 15px;
  }

  .dgwt-wcas-search-submit {
    min-width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 12px;
    background-color: transparent;
    background-image: url("../assets/icons/search.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;

    &:hover, &:focus {
      opacity: 1;
    }

    svg {
      display: none;
    }
    &::before {
      content: none;
    }
  }
}
