// product card
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  padding: 12px;
  background-color: white;
  border-radius: 8px;
  position: relative;

  text-align: left;

  transition: box-shadow .2s;

  &:hover, &:focus {
    box-shadow: 0 0 15px rgba($purple300, .4);
    outline: none;
  }
  // hide button to see the cart after click on buy
  a.added_to_cart {
    display: none;
    & .loading {
      content: '';
      background-color: red;
    }
  }
}

// product card title
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  color: $black;
  font-weight: 600;
  // font-size: 1.2rem;
  & + p {
    color: $purple300;
    font-size: .875rem;
    font-weight: normal;
  }
}

// product price
#price-base {
  color: $green500;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}
#price-del {
  color: $red500;
  font-size: 1rem;
  font-weight: 400;
}

// product price - list of products
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .price ins {
  @extend #price-base;
  text-align: center;
}
// product price - list of products
.woocommerce div.product p.price,
.woocommerce div.product p.price ins {
  @extend #price-base;
  font-size: 2rem;
}

// product price - list of products del
.woocommerce ul.products li.product .price del {
  @extend #price-del;
  margin-right: .5em;
}
// product price - single products del
.woocommerce div.product p.price del {
  @extend #price-del;
  margin-right: .5em;
  font-size: 1.5rem;
}

// product offert
.woocommerce ul.products li.product .onsale {
  position: absolute;
  left: 0;
}
.woocommerce span.onsale {
  background-color: transparent;
  border-radius: 0;
  color: transparent;
  width: 100px;
  height: 100px;
  
  svg {
    position: absolute;
    top: -20px;
    left: 0;
    transform: scale(2);
  }
}

.product_meta > span {
  display: block;
}
