.woocommerce table.shop_table {
  border-collapse: collapse;
}

// table head
.woocommerce table.shop_table thead {
  background-color: #fff;
  color: $black;
  th {
    padding: 8px;
  }
}

// table body / foot
.woocommerce table.shop_table tbody,
.woocommerce table.shop_table tfoot {
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
  
  tr th, tr td  {
    padding: 8px;
  }
}