header {

  .navbar-small {
    display: none;
    background-color: $purple500;
    color: #fff;
    font-weight: 600;

    @include atMedium {
      display: block;
    }
    &__menu {
      display: flex;
      justify-content: flex-end;

      ul {
        display: flex;
        list-style-type: none;
      }
      
      ul, li, a {
        margin: 0;
        padding: 0;
      }

      a {
        padding: 0 .7em !important;
        color: #fff;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .top-bar {
    transition: .2s;
    background-color: $purple400;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .05);

    &__logo {
      min-width: 80px;
      max-width: 80px;

      @include atMedium {
        min-width: 150px;
        max-width: 150px;
      }
    }

    &__actions {
      transition: .2s;
      margin: 0;

      &--right {
        margin-right: -50px;
        opacity: 0;
      }

      &--left {
        margin-left: -35px;
        opacity: 0;
      }
    }
  }

}