.header {
  box-shadow: 0 10px 10px rgba(0, 0, 0, .05);

  &-mobile {
    display: block;
    @include atMedium {
      display: none;
    }
  }

  &-desktop {
    display: none;
    @include atMedium {
      display: block;
    }
  }

  // nav header
  &__nav {
    padding: 8px 0;
    background-color: $purple500;
    font-weight: 600;
    
    &__contact {
      li {
        display: flex;
        align-items: center;
      }
      .icon {
        margin-right: 8px;
      }
      span {
        color: #fff;
        font-weight: 600;
      }
    }

    &__navigation {
      display: flex;
      justify-content: flex-end;

      ul {
        display: flex;
        align-items: center;
      }

      li {
        margin-left: 16px;
      }
      
      a {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  &__main {
    background-color: $purple400;

    &__logo {
      min-width: 80px;
      max-width: 80px !important;
      @include atMedium {
        min-width: 150px;
        max-width: 150px !important;
      }
    }

    .cart__btn {
      padding: 0;
      border: none;
      position: relative;
      background-color: transparent;
      transform: scale(.75);

      &:focus, &:hover {
        outline: none;
      }
      
      @include atMedium {
        transform: scale(1);
      }
    
      &__icon {
        display: block;
        width: 32px;
        height: 32px;
      }
    
      &__quantity {
        width: auto;
        min-width: 24px;
        height: 24px;
        padding: 0 4px;

        background-color: #fff;
        border: 2px solid $purple400;
        border-radius: 50%;

        line-height: 1.4;
        text-align: center;
        font-weight: 600;
        color: $purple400;

        position: absolute;
        top: -8px;
        right: -10px;
      }
    }
  }

}

.button-burger {
  cursor: pointer;

  div {
    width: 22px;
    height: 2px;
    background-color: #fff;
    margin: 4px 2px;
  }

  & > div {
    transition: 0;
  }
  
  &--toggle {
    & .line1 {
      transform: rotate(-45deg) translate(-3px, 6px);
    }
    & .line2 {
      opacity: 0;
    }
    & .line3 {
      transform: rotate(45deg) translate(-3px, -6px);
    }
  }
}