// cards
.woocommerce form.login, .woocommerce form.register {
  @extend %card-base--padding-bigger-at-medium;
  margin-top: 0;
  margin-bottom: 20px;
  border: none;
  @include atMedium {
    margin: 0;
  }
}

// line access button + remember
p.form-row.row__button-and-remember {
  margin-top: 16px;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 16px;
    span {
      margin-left: 8px;
    }
  }

  &::before, &::after {
    content: none;
  }
}

// access button
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
  margin: 0;
}

// lost password
p.woocommerce-LostPassword.lost_password {
  margin: 16px 0 0 0;
  text-align: center;
}

// sign up button
.woocommerce button.woocommerce-form-register__submit {
  width: 100%;
  background-color: $purple400;
  border: none;
  color: #fff;

  &:hover, &:focus {
    background-color: $purple500;
    color: #fff;
  }
}

// privacy policy text
.woocommerce-privacy-policy-text {
	display: none;
}
