

// product card
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  padding: 12px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  transition: box-shadow .2s;

  &:hover, &:focus {
    box-shadow: 0 0 15px rgba($purple, .4);
    outline: none;
  }
  // hide button to see the cart after click on buy
  a.added_to_cart {
    display: none;
    & .loading {
      content: '';
      background-color: red;
    }
  }
}


// product card title
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  color: $black;
  font-weight: 600;
  // font-size: 1.2rem;
  & + p {
    color: $purple300;
    font-size: .875rem;
    font-weight: normal;
  }
}

// product price
.woocommerce ul.products li.product .price {
  color: $green500;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;

  & del {
    margin-right: .5em;
    font-size: 1rem;
    font-weight: 400;
    color: $blue500;
  }
}

// .woocommerce div.product p.price del, 
// .woocommerce div.product span.price del,
// .woocommerce ul.products li.product .price del .woocommerce-Price-amount{
//   color: #000;
//   font-size: 20px;
//   font-weight: 500;
// }

// .woocommerce div.product p.price ins, 
// .woocommerce div.product span.price ins, 
// .woocommerce-Price-amount {
//   font-size: 25px;
//   color: #000;
//   font-weight: 700;
// }

// product offert
.woocommerce ul.products li.product .onsale {
  position: absolute;
  left: 0;
}
.woocommerce span.onsale {
  background-color: transparent;
  border-radius: 0;
  color: transparent;
  width: 100px;
  height: 100px;
  
  svg {
    position: absolute;
    top: -20px;
    left: 0;
    transform: scale(2);
  }
}

// .woocommerce ul.products li.product .price del

// .woocommerce ul.products li.product .price ins




.product_meta > span{
  display: block;
}




// .woocommerce div.product .woocommerce-tabs ul.tabs{
//   padding: 0;

// }

// .woocommerce div.product .woocommerce-tabs ul.tabs li{
//   border-radius: 0;
//   margin: 0;
// }

// .woocommerce div.product .woocommerce-tabs ul.tabs li::after, 
// .woocommerce div.product .woocommerce-tabs ul.tabs li::before{
//   content: none;
// }
